body {
    font-family: var(--mainFont);

}

.header {
    padding-top: 57px;
    padding-bottom: 35px;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.bar {
    display: none;
}

.active {
    color: var(--primaryColor);
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    padding: 8px 13px;
}

@media screen and (max-width:1200px) {

    .list,
    .header .search {
        display: none;
    }

    .bar {
        display: block;
    }
}

/* end header section*/

/*start featured product*/

.featured-products{
    padding: 50px 0;
}

.featured-products h2{
    margin-bottom: 48px;
    color: #1A0B5B;
    font-weight: bold;
    font-size: 42px;
}

.featured-products .row{
    justify-content: flex-start;
    gap: 15px;
}
.featured-products .product{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 250px;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 3px;
    
}
.badge-sale{
    position: absolute;
    left: -12px;
    top: -2px;
}
.product{
    position: relative;
}
.product .img{
    background-color: #F6F7FB;
    padding: 30px;
    height: 250px;
}

.product .details{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 17px;
}

.color{
   width: 14px;
    height: 4px;
    border-radius: 10px;
    border: none;
    outline: none; 
    cursor: pointer;
}

.color-one{
    background-color: #05E6B7;
}
.color-two{
    background-color: #F701A8;
}
.color-three{
    background-color: #00009D;
    transition: all .6s;
}

.details h3{
    color: var(--primaryColor);
    transition: all .6s;
}
.details .product-info{
    color:#151875;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all .6s;
}
.details{
    transition: all .6s;
    border-radius: 2px;
}

.product:hover .details{
 background-color: #2F1AC4;
}

.product:hover .details h3,.product:hover .details .product-info{
    color: #ffff;
}
.product:hover .color-three{
    background-color: #FFEAC1;
}

/*start featured product*/

/* start newsletter section*/
.newsletter {
    background-image: url(../image/backg.webp);
    padding: 175px 0;
    text-align: center;
}

.newsletter h2 {
    margin-bottom: 35px;
    color: #151875;
    font-size: 35px;
    font-weight: bold;
    
}

.Shop-btn {
    transition: all .5s;
}

.Shop-btn:hover {
    background-color: #151875;
}

/* end newsletter section*/


/* start client section*/
.clients {
    padding: 50px 0;
}

.clients .row {
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}

.clients .c-logo {
    width: 17%;
}

.clients img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width:900px) {

    .clients .c-logo {
        width: 35%;
    }

}


/* end client section*/

/* start footer section*/
.search form input {
    border: none;
    outline: none;
    padding-left: 5px;
}

.search form {
    border: 1px #E7E6EF solid;


}

.footer {
    background-color: #EEEFFB;
    padding: 50px 0;
}



.footer a,
.contact-info {
    color: #8A8FB9;
}

.footer .left_side {
    gap: 35px;
    align-items: flex-start;
    width: calc((100% - 35px)/2);

}

.footer .right_side {
    width: calc((100% - 25px) /2);


}

.footer-item {
    gap: 25px;
    width: calc((100% - 50px) /3);
}

.footer .right_side .row {
    gap: 25px;
    align-items: flex-start;
}


/* start container responsive  */
@media screen and (max-width:1200px) {
    .container {
        width: calc(100% - 200px);
    }
}

@media screen and (max-width:992px) {
    .container {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width:576px) {
    .container {
        width: calc(100% - 40px);
    }
}

/*end container responsive*/

/*start footer responsive*/
@media screen and (max-width:992px) {

    .footer .left_side,
    .footer .right_side {
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .footer-item {
        width: 100%;
        text-align: center;
    }
}

/*end footer responsive*/